<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Páogina Lista de Pratos</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="index">ADMIN - Página Inicial</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
	        <a class="nav-link" href="/pedido/carrinho">Carrinho de Compras</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/restaurante/logar">Login</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/restaurante/formulario">Cadastro</a>
	      </li>
	      <li class="nav-item">
	        <td sec:authorize="hasRole('ROLE_ADMIN')"> <a class="nav-link" href="/prato/cadastrarPratos">Cadastrar Pratos</a></td>
	      </li>
	      <li class="nav-item">
	        <td sec:authorize="hasRole('ROLE_ADMIN')"> <a class="nav-link" href="/prato/ListarPratos">Listar Pratos</a></td>
	      </li>
	    </ul>
	 </div>
</nav>

	<table class="table table-dark">
		<thead>
			<tr>
				<th scope="col">CÓDIGO</th>
				<th scope="col">NOME/DESCRIÇÃO</th>
				<th scope="col">VALOR R$</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each = "prato : ${ListaPratos}">
				<td th:text="${prato.codigo}"></td>
				<td th:text="${prato.nome}"></td>
				<td th:text="${prato.preco}"></td>
				<td sec:authorize="hasRole('ROLE_ADMIN')"> <a th:href="@{/prato/excluir/{codigo}(codigo = ${prato.codigo})}"> <button type="button" class="btn btn-danger">Excluir Prato</button></a></td>
				<td> <a class="btn btn-primary" th:href="@{/prato/atualizar/{codigo}(codigo = ${prato.codigo})}"> Atualizar Prato </a></td>
				<td> <img width="200" height="200" th:src="@{'/images/'+${prato.nome}+.png}"> </td>
			</tr>
		</tbody>
	</table>
<script src="/js/bootstrap.min.js"> </script>
</body>
</html>